<%- include('bootheader') -%>
<%- include('menubar') -%>



<h1>
<%= valuee%> <%= inn%> is <%= resultt%> <%= outt%>
</h1><br><br><br>
<a href='/units'>Go back</a>



  <%- include('bootfooter') -%>
  <!-- Hello World! -->
