<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Testing</h1>
        <p> new EJS page</p>
        23*27= <%= 23*27 %> <br>
        today is <%= new Date() %> <br>
      
    </div>



<%- include('bootfooter') -%>
