<%- include('bootheader') -%>
<style>
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; },
</style>

<h1>
Chest Page! Be Healthy
   </h1>
   <% l.forEach(l => { %>
     <div class="row" style="background-color:#f0ffff;">
       <div class="col">
         <p>
Image of <%= l.exercise%>
           </p><br>
           <img src=<%= l.urlLink%> >
         </div>

         <div class="col"style="background-color:#fff0f0;">
           <p>
Short Description of <%= l.exercise%>
             </p>

             <p>
<%= l.shortDescription%>
               </p>
           </div>
      </div>
      <br>
                  <% }) %>

<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
   <form method="post" action="/fitness/add_exercise">
     <select name="part" id="part">
      <option value="chest">
     chest
        </option>
       </select><br>
       name of the exercise: <input type="text" name="exercise"><br>
       URL_link : <input type="text" name="URL"><br>
       short_description of this exercise: <input type="text" name="shortDescription"><br>
       <input type="submit" value="add this exercise">
   </form>


  <%- include('bootfooter') -%>
